extends layout
    
block content
    .main#main
    section#aboutus.section-bg
    .container
      header.section-header(style='color: #A21C3A;')
        h3 About us
        p
          | Due to the lack of traditional sports in our school district, we would like to give students an opportunity to be able be introduced to the world of Esports in a distcrict-wide environment. Through our different events, we plan to promote the growth of sportsmanship in a club based environment, STEM program engagement through different technology based activities, and the overall Esports Community in Las Vegas!
      .row
        .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
          .box
            .icon(style='background: #fceef3;')
              i.ion-ios-analytics-outline(style='color: #ff689b;')
            h4.title
              a(href='') President
            p.description
              | Davis Kong
            p.description
              | Super Smash Bros. Ultimate
            p.description
              a(href='https://www.youtube.com/channel/UCAJOojev9VPsLDjZFCpOMyw')
                 i.fab.fa-youtube(style='color: #A21C3A;')
              a(href='')
                 i.fab.fa-twitter(style='color: #A21C3A;')
        .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
          .box
            .icon(style='background: #fff0da;')
              i.ion-ios-bookmarks-outline(style='color: #e98e06;')
            h4.title
              a(href='') Vice President
            p.description
              | Billy Myers
            p.description
              | #{game}
            p.description
              a(href='https://github.com/snekery')
                 i.fab.fa-github(style='color: #A21C3A;')
              a(href='link')
                 i.fab.fa-youtube(style='color: #A21C3A;')

        .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.1s' data-wow-duration='1.4s')
          .box
            .icon(style='background: #e6fdfc;')
              i.ion-ios-paper-outline(style='color: #3fcdc7;')
            h4.title
              a(href='') Treasurer
            p.description
              | Angie Carmona
            p.description
              | Super Smash Bros Ultimate
            p.description
              a(href='')
                 i.fab.fa-youtube(style='color: #A21C3A;')
              a(href='twitter.com/gelic_ang')
                 i.fab.fa-twitter(style='color: #A21C3A;')
        .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.1s' data-wow-duration='1.4s')
          .box
            .icon(style='background: #eafde7;')
              i.ion-ios-speedometer-outline(style='color:#41cf2e;')
            h4.title
              a(href='') Secretary
            p.description
              | Gabriel Kouder
            p.description
              | The Witcher 3
        .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.2s' data-wow-duration='1.4s')
          .box
            .icon(style='background: #e1eeff;')
              i.ion-ios-world-outline(style='color: #2282ff;')
            h4.title
              a(href='') Graphic Designer
            p.description
              | Naya Hudson
            p.description
              | Minecraft
        .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.2s' data-wow-duration='1.4s')
          .box
            .icon(style='background: #ecebff;')
              i.ion-ios-clock-outline(style='color: #8660fe;')
            h4.title
              a(href='') Stream Manager
            p.description
              | Ethan Aldrich
            p.description
              | Game
            p.description
              a(href='https://github.com/ethanaldrich9986')
                 i.fab.fa-github(style='color: #A21C3A;')
              a(href='https://twitch.tv/ethanaldr')
                 i.fab.fa-twitch(style='color: #A21C3A;')
              a(href='https://youtube.com')
                 i.fab.fa-youtube(style='color: #A21C3A;')
