extends layout

block content
    .leaderboard(color = '#242F69')
        h4 Leaderboards
        ul
            li.title Super Smash Bros. Ultimate
            li.rank
            li(data-rel='X6' data-value='5')
                span.name Xerox64
            li(data-rel='DK' data-value='12')
                span.name Davis Kong
            li(data-rel='SK' data-value='9')
                span.name Senekery
        ul
            li.title Minecraft Hunger Games
            li.rank
            li(data-rel='X6' data-value='9')
                span.name Xerox64
            li(data-rel='DK' data-value='4')
                span.name Davis Kong
            li(data-rel='SK' data-value='7')
                span.name Senekery
        ul
            li.title League of Legends
            li.rank
            li(data-rel='X6' data-value='6')
                span.name Xerox64
            li(data-rel='DK' data-value='1')
                span.name Davis Kong
            li(data-rel='AK' data-value='13')
                span.name Angie Kong
        ul
            li.title Other
            li.rank
            li(data-rel='X6' data-value='5')
                span.name Xerox64
            li(data-rel='DK' data-value='12')
                span.name Davis Kong
            li(data-rel='SK' data-value='10')
                span.name Senekery
    script.
        $(document).ready(function() {
        var lb = $(".leaderboard").jqleaderboard({
        // options
        });
        lb_object = lb.data("leaderboard");
        lb_object.leaderboard_highlight("X6").leaderboard_select("X6");
        });