extends layout

block content
    .main#main
        .jumbotron.jumbotron-fluid.smash-banner
            .container
                strong
                    h1.display-4.text-light.text-center.shadow.mb-3 LEAGUE OF LEGENDS
                p.lead.text-light.text-center.shadow-sm Competitive League of Legends
        .container
            .row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/league-logo.png' alt='League of Legends logo' width=120 height=120)
                        .media-body
                            h5.mt-0 Team Registry
                            p.mb-0 In order to get everything scheduled for the school year, we have set up a team system. You can register your team at the venue in person.
            .row.justify-content-md-left.mb-5
                .col-sm-auto
                    .media
                        img.mr-3(src='/images/league-logo.png' alt='League of Legends logo' width=120 height=120)
                        .media-body
                            h5.mt-0 Ruleset
                            ul.mb-0
                                li Draft pick
                                li Five players per team
                                li Spectators on
                                li All runes, spells, and cosmetics are 
                                    strong allowed
                                li All other rules are to be set to default values