extends layout

block content
	.main#main
		.jumbotron.jumbotron-fluid(background='#000')
			.container
				strong
					h1.display-4.text-light.text-center.mb-3(background='black') League Information   
				p.lead.text-light.text-center
		.container
			.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='/images/HSESPORRTSLOGO_1.png' alt='League of Legends logo' width=120 height=120)
						.media-body
							h5.mt-0 Events
							p Unless explicitly stated otherwise, you must currently be attending a High School within the state of Nevada in order to compete in any Silver State Esports Event.
							p Silver State Esports Events doesn’t follow a strict schedule that was made months in advance. Instead, most events are done either upon request of the High Schools or League Members which are held at local venues such as Gameworks, or Wolf and Lamb PC.
							p The Silver State Esports League is 100% run for students by students. All events are planned and coordinated by high school students who help run and maintain their own Esports Clubs.
							p We take the games popularity, esports potential, and other factors into consideration when deciding how the game can be implemented into an event. All games on our current list seem to fit these requirements the best so that is what we we be using as a basis for the time being.

			.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='/images/HSESPORRTSLOGO_1.png' alt='League of Legends logo' width=120 height=120)
						.media-body
							h5.mt-0 Pricing
							p While other High School Level Esports Leagues might charge a several hundred dollar fee for only 20 students from a single school, we have taken a much simpler approach on pricing. Similar to how many local tournaments are run, all Silver State Esports Events will have a price that is determined by the total entry fee and venue fee.
							p The venue fee will go to the venue owners as payment for them letting us use their equipment for events. While the entry fee will go into the prize pool which the players will be rewarded with if they placed high enough. This total typically comes out to about $10 per person for every event they enter. (Fees may vary depending on the scale of the event)
							p *Silver State Esports will NOT profit from any events, all money spent at our events will either going towards the venue or the 
								strong prize pool.
                                
			.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='/images/HSESPORRTSLOGO_1.png' alt='League of Legends logo' width=120 height=120)
						.media-body
							h5.mt-0 Prizes
							p All entry fee money will be compiled into the prize pool and will be distributed accordingly based on factors like tournament entrants, singles or doubles events and the game being played.
							p For example, if the entry fee was 5 dollars, the prize pool would look something like this:
							p
								table.tg
									tr
										th.tg-73oq Entrants
										th.tg-73oq Prize Pool
									tr
										td.tg-73oq 10
										td.tg-73oq $50
									tr
										td.tg-73oq 20
										td.tg-73oq $100
									tr
										td.tg-73oq 30
										td.tg-73oq $150
									tr
										td.tg-73oq 40
										td.tg-73oq $200
            .row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='/images/HSESPORRTSLOGO_1.png' alt='League of Legends logo' width=120 height=120)
						.media-body
							h5.mt-0 Formal Letter
                               p If you would like a formally written letter to give to a teacher or advisor to help explain some of the general information of the Silver State Esports League, feel free to download this letter written by our founder!
                               iframe(src='https://docs.google.com/document/d/e/2PACX-1vRsx5NCjnC8Deqxt6mxKD88Q5_hGzFw_1IvpIfC4DtcJ_EzXR2miro_MPBGrEXZ4J0TzIPAA0yAiYhH/pub?embedded=true' width='1000px' height='1250px')

							