extends layout

block content
	.main#main
		.container
			.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='/images/HSESPORRTSLOGO_1.png' alt='League of Legends logo' width=120 height=120)
						.media-body
							h5.mt-0 Events
							p Unless explicitly stated otherwise, you must currently be attending a High School within the state of Nevada in order to compete in any Silver State Esports Event, unless explicitly stated otherwise.
							p Silver State Esports Events doesn’t follow a strict schedule that was made months in advance. Instead, most events are done either upon request of the High Schools or League Members which are held at local venues such as Gameworks.
							p The Silver State Esports League is 100% run for students by students. All events are planned and coordinated by high school students who help run and maintain their own Esports Clubs.
							p When planning events we take the games popularity, esports potential, and other factors into consideration for each and every event we hold. That is why we are currently planning several events for the games that are on our list right now; they all fall into these categories.

			.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='/images/HSESPORRTSLOGO_1.png' alt='League of Legends logo' width=120 height=120)
						.media-body
							h5.mt-0 Pricing
							p While other High School Level Esports Leagues charge  several hundred dollar fee for only 20 students from a single school, we have taken a much simpler approach. Similar to how many local tournaments are run, all Silver State Esports Events will have a price that is determined by the total entry fee and venue fee.
							p The venue fee will go to the venue owners as payment for them letting us use their equipment for events. While the entry fee will go into the prize pool which the players will be rewarded with if they played high enough. This total typically comes out to about 10 dollars per person for every event they enter. (Fees may vary depending on the scale of the event)
							p *Silver State Esports will NOT profit from any events, all money spent at our events is either going towards the venue or the prize pool.

			.row.justify-content-md-left.mb-5
				.col-sm-auto
					.media
						img.mr-3(src='/images/HSESPORRTSLOGO_1.png' alt='League of Legends logo' width=120 height=120)
						.media-body
							h5.mt-0 Prizes
							p All entry fee money will be compiled into the prize pool and will be distributed accordingly based on factors like tournament entrants, singles or doubles events and the game being played.
							p For example, if the entry fee was 5 dollars, the prize pool would look something like this:
							p
								table.tg
									tr
										th.tg-73oq Entrants
										th.tg-73oq Prize Pool
									tr
										td.tg-73oq 10
										td.tg-73oq $50
									tr
										td.tg-73oq 20
										td.tg-73oq $100
									tr
										td.tg-73oq 30
										td.tg-73oq $150
									tr
										td.tg-73oq 40
										td.tg-73oq $200
