.leaderboard {
    margin: 0 auto;
    background-color: #1f1f1f;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    width: 75%
}

.leaderboard .total {
    clear: both;
    display: block;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    color: #f8941c;
}

.leaderboard h3, .leaderboard h4 {
    text-align: center;
}

.leaderboard ul {
    cursor: pointer;
}

.leaderboard ul {
    float: left;
    width: 25%;
    max-width: 25%;
    list-style-type: none;
    border-left: 2px solid #202020;
    border-right: 2px solid #202020;
    padding-left: 4px;
}

.leaderboard ul li.title {
    cursor: text;
    font-weight: bold;
    list-style: none;
    border-bottom: 2px solid #202020;
}

.leaderboard ul li.rank {
    cursor: text;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #f8941c;
        -o-border-radius: 200px;
        -ms-border-radius: 200px;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px;
    border-radius: 200px;
    background - color: #2a2a2a;
    display: none;
}

.leaderboard ul li.hover {
    background-color: #7c7c7c;
    color: #f8941c;
}

.leaderboard ul li.selected {
    background-color: #1b1b1b;
    color: #336699;
}
.leaderboard ul li .name {
    text-transform: capitalize;
}
.leaderboard ul li .value {
    text-align: right;
    float: right;
    font-size: 16px;
}