.footer {
    background-color: #f5f5f5;
}

.smash-banner {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../images/banner-smash.jpg');
    background-size: cover;
}

/* Prelaoder */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

    #preloader:before {
        content: "";
        position: fixed;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        border: 6px solid #f2f2f2;
        border-top: 6px solid #242F69;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        -webkit-animation: animate-preloader 1s linear infinite;
        animation: animate-preloader 1s linear infinite;
    }

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*Sections*/
.section-header h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
}

/* aboutus Section
--------------------------------*/

#aboutus {
    padding: 60px 0 40px 0;
}

    #aboutus .box {
        padding: 30px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        margin: 0 10px 40px 10px;
        background: #fff;
        box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
        transition: all 0.3s ease-in-out;
        text-align: center;
    }

        #aboutus .box:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

    #aboutus .icon {
        margin: 0 auto 15px auto;
        padding-top: 12px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

        #aboutus .icon i {
            font-size: 36px;
            line-height: 1;
        }

    #aboutus .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
    }

        #aboutus .title a {
            color: #111;
        }

    #aboutus .box:hover .title a {
        color: #242F69;
    }

    #aboutus .description {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 0;
        text-align: left;
        color: #242F69;
    }